flows_raspi3-kitchen.json
[{"id":"75d8b561.9aedbc","type":"tab","label":"gather temperatures"},{"id":"dee14bbe.e03a38","type":"subflow","name":"munge and extract temps","info":"","in":[{"x":50,"y":30,"wires":[{"id":"1d27321c.05d5ae"}]}],"out":[{"x":800,"y":80,"wires":[{"id":"caaf1373.6a52c","port":0}]}]},{"id":"cdb94ee8.64b25","type":"timeseries","z":"75d8b561.9aedbc","hostname":"127.0.0.1","port":"27017","db":"sensor_data","name":"store sensor_data"},{"id":"ca1cbf4d.b2f16","type":"mongodb","z":"75d8b561.9aedbc","hostname":"127.0.0.1","port":"27017","db":"sensor_data","name":""},{"id":"8645aff9.ab433","type":"aws-config","z":"75d8b561.9aedbc","name":"AWS","region":"us-west-2"},{"id":"efb91b28.9221a8","type":"comment","z":"75d8b561.9aedbc","name":"DRY","info":"figure out how to do this routing through a switch","x":110,"y":500,"wires":[]},{"id":"97e1d120.aef99","type":"exec","z":"75d8b561.9aedbc","command":"ls /sys/bus/w1/devices/","addpay":true,"append":"","useSpawn":"","timer":"","name":"query temperature devices","x":160,"y":120,"wires":[["b5ac1e9d.21b44"],[],[]]},{"id":"84f39839.9eedb8","type":"inject","z":"75d8b561.9aedbc","name":"init button","topic":"","payload":"","payloadType":"str","repeat":"600","crontab":"","once":false,"x":150,"y":60,"wires":[["97e1d120.aef99"]]},{"id":"b5ac1e9d.21b44","type":"split","z":"75d8b561.9aedbc","name":"","splt":"\\n","x":130,"y":220,"wires":[["d0517dd0.12c16"]]},{"id":"d0517dd0.12c16","type":"switch","z":"75d8b561.9aedbc","name":"","property":"payload","propertyType":"msg","rules":[{"t":"regex","v":"28-","vt":"str","case":false}],"checkall":"true","outputs":1,"x":170,"y":280,"wires":[["2ba3a54a.0286aa"]]},{"id":"2ba3a54a.0286aa","type":"switch","z":"75d8b561.9aedbc","name":"split on mesg.parts","property":"parts.index","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"num"}],"checkall":"true","outputs":2,"x":210,"y":360,"wires":[["9d77bc98.c9aad"],["9d77bc98.c9aad"]]},{"id":"682b93ec.7a2d3c","type":"debug","z":"75d8b561.9aedbc","name":"everything out","active":false,"console":"false","complete":"payload","x":760,"y":120,"wires":[]},{"id":"907bc45c.b58ec8","type":"file in","z":"dee14bbe.e03a38","name":"temperature file","filename":"","format":"utf8","x":240,"y":220,"wires":[["2f5cd6ef.2988ea"]]},{"id":"9d77bc98.c9aad","type":"subflow:dee14bbe.e03a38","z":"75d8b561.9aedbc","name":"","x":470,"y":360,"wires":[["5e775f0c.2f208"]]},{"id":"1d27321c.05d5ae","type":"change","z":"dee14bbe.e03a38","name":"store sensorId","rules":[{"t":"set","p":"sensorId","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":140,"y":100,"wires":[["34f8b51.a79d24a"]]},{"id":"34f8b51.a79d24a","type":"change","z":"dee14bbe.e03a38","name":"munge_filename","rules":[{"t":"change","p":"payload","pt":"msg","from":"^","fromt":"re","to":"/sys/bus/w1/devices/","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"$","fromt":"re","to":"/w1_slave","tot":"str"},{"t":"move","p":"payload","pt":"msg","to":"filename","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":200,"y":160,"wires":[["907bc45c.b58ec8"]]},{"id":"caaf1373.6a52c","type":"change","z":"dee14bbe.e03a38","name":"","rules":[{"t":"set","p":"value","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":360,"wires":[[]]},{"id":"2f5cd6ef.2988ea","type":"function","z":"dee14bbe.e03a38","name":"extract temp","func":"var stripped_payload = msg.payload.split(' t=')[1].trim()\nfloat_payload = parseFloat(stripped_payload)\nmsg.payload = float_payload / 1000\nreturn msg","outputs":1,"noerr":0,"x":330,"y":300,"wires":[["caaf1373.6a52c"]]},{"id":"5e775f0c.2f208","type":"change","z":"75d8b561.9aedbc","name":"format for dynamodb","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"move","p":"value","pt":"msg","to":"payload.value","tot":"msg"},{"t":"move","p":"sensorId","pt":"msg","to":"payload.sensor_id","tot":"msg"},{"t":"set","p":"payload.device_id","pt":"msg","to":"raspi3-kitchen","tot":"str"},{"t":"set","p":"payload.measure_unit","pt":"msg","to":"C","tot":"str"},{"t":"set","p":"payload.timestamp","pt":"msg","to":"","tot":"date"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":460,"wires":[["682b93ec.7a2d3c","dadbd935.ca6fc8"]]},{"id":"16e74694.3dc6b9","type":"mongodb out","z":"75d8b561.9aedbc","name":"","mongodb":"ca1cbf4d.b2f16","x":840,"y":320,"wires":[]},{"id":"e973adad.af8b6","type":"change","z":"75d8b561.9aedbc","name":"format for mongodb","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"move","p":"value","pt":"msg","to":"payload.value","tot":"msg"},{"t":"move","p":"sensor_id","pt":"msg","to":"payload.sensor_id","tot":"msg"},{"t":"set","p":"payload.device_id","pt":"msg","to":"raspi3-kitchen","tot":"str"},{"t":"set","p":"payload.measure_unit","pt":"msg","to":"C","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":540,"wires":[[]]},{"id":"3e226534.a8ff5a","type":"amazon dynamodb","z":"75d8b561.9aedbc","aws":"8645aff9.ab433","region":"","operation":"put","tablename":"sensor_data","name":"","x":840,"y":240,"wires":[[]]},{"id":"dadbd935.ca6fc8","type":"file","z":"75d8b561.9aedbc","name":"file_out","filename":"/data/temps","appendNewline":true,"createDir":true,"overwriteFile":"false","x":810,"y":520,"wires":[]}]